/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  /* For RTL layout */
}

header {
  background-color: #f8f8f8;
}

.top-bar {
  background-color: #1c4e80;
  color: #fff;
  padding: 5px 0;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  gap: 10px;
  align-items: center;
}

.top-bar a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.top-bar a:hover {
  color: #ef6a89;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  max-width: 150px;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #1c4e80;
  position: relative;
  transition: color 0.3s ease-in-out;
  font-size: large;
}

.menu li a:hover,
.menu li.active a {
  color: #ff6384;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: #ff6384;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu li a:hover::after,
.menu li.active a::after {
  width: 100%;
  left: 0;
}

.actions {
  display: flex;
}

.action-btn {
  display: block;
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.action-btn:first-child {
  background-color: #4bc0c0;
}

.action-btn:nth-child(2) {
  background-color: #ff6384;
}

.action-btn:hover {
  opacity: 0.8;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle:hover {
  transform: rotate(90deg);
}

/* Responsive */
@media (max-width: 768px) {
  .menu,
  .actions {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu.active,
  .actions.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }

  .actions {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    align-items: center;
  }

  .actions .action-btn {
    margin: 5px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.floating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-btn img {
  width: 50%;
  height: 50%;
}

.floating-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.stethoscope-btn {
  background-color: #4bc0c0;
}

.whatsapp-btn {
  background-color: #25d366;
}

/* Scroll to Top Button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  padding: 10px 15px;
  font-size: 16px;
  background-color: rgb(146, 64, 64);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Adjust for different screen sizes */
@media (max-width: 768px) {
  .floating-buttons {
    bottom: 10px;
    right: 10px;
  }

  .floating-btn {
    width: 40px;
    height: 40px;
  }
}

.wrapper {
  max-width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
}

.wrapper header {
  font-size: 35px;
  font-weight: 600;
}

.wrapper form {
  margin: 40px 0;
}

form .field {
  width: 100%;
  margin-bottom: 20px;
}

form .field.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }

  20%,
  80% {
    margin-left: -12px;
  }

  40%,
  60% {
    margin-left: 12px;
  }
}

form .field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
}

form input {
  width: 75%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372f0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
  border-color: #5372f0;
}

form .field.shake input,
form .field.error input {
  border-color: #dc3545;
}

.field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-area .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}

.input-area .error-icon {
  right: 15px;
  color: #dc3545;
}

form input:focus ~ .icon,
form .field.valid .icon {
  color: #5372f0;
}

form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}

form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}

form .field .error {
  display: none;
}

form .field.shake .error,
form .field.error .error {
  display: block;
}

form .pass-txt {
  text-align: left;
  margin-top: -10px;
}

.wrapper a {
  color: #5372f0;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #5372f0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  background: #2c52ed;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  padding: 10px 0px;
}

a.facebook {
  color: #fff;
  background-color: #4267b2;
}

a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

a.google {
  border: 1px solid #cacaca;
}

a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

.footer {
  background-color: #1c4e80;
  padding: 50px 20px;
  /* Reduced padding for better spacing */
  direction: rtl;
}

.footer-col {
  width: 100%;
  /* Make columns full-width by default for mobile */
  padding: 0 10px;
  /* Reduced padding for better spacing */
  margin-bottom: 30px;
  /* Add spacing between columns */
  box-sizing: border-box;
  /* Ensure padding and border are included in the width */
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  /* Reduced margin for better spacing */
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  bottom: -8px;
  /* Adjusted for better spacing */
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s, padding-left 0.3s;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Add gap between social icons */
}

.footer-col .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #ffffff;
  transition: color 0.5s, background-color 0.5s;
  text-decoration: none;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive styles */
@media (min-width: 768px) {
  .footer-col {
    width: 50%;
    /* Two columns layout for tablets */
  }
}

@media (min-width: 992px) {
  .footer-col {
    width: 25%;
    /* Four columns layout for larger screens */
  }
}

.footer-copyright {
  background-color: #1c4e80;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  border-top: 1px solid white;
  direction: rtl;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}
